[submodule "resukisu"]
	path = resukisu
	url = https://github.com/ReSukiSU/ReSukiSU.git
	branch = main
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/naidrahiqa/AnyKernel3.git
	branch = master
